@font-face {
  font-family: 'Exo';
  src: url('./fonts/exo/Exo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('./fonts/exo/Exo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('./fonts/exo/Exo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
